{#
Displays a datetime that can be converted to a users timezone using JavaScript.
In the data-datetime attribute, the date is rendered in ISO 8601 format.

datetime_obj   - the datetime object to display

Example:

    {% snippet 'snippets/local_friendly_datetime, datetime=pkg_dict.metadata_created %}

#}

{% resource 'dge/dge_main.js' %}
{% set datetime = h.dge_parse_datetime(datetime_obj) %}
{% if datetime and datetime.year %}
   {%if datetime.year < 100: %}
    {{ h.dge_render_datetime(datetime_obj, with_hours=True) }}
    {% else %}
    <span class="automatic-local-datetime" data-module="dge_main" data-datetime="{{ h.dge_render_datetime(datetime_obj, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
        {{ h.dge_render_datetime(datetime_obj, with_hours=True) }}
    </span>
    {% endif %}
{% endif %}
