<li>{% link_for _('Data Catalog'), controller='package', action='search' %}</li>
{% if not pkg and not res %}
<li class="active">{% link_for _('Datasets'), controller='package', action='search' %}</li>
{% else %}
  <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
  {% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    {% set dataset_title_language, dataset_title = h.dge_dataset_field_value(pkg.title_translated) %}
    {% if not res %}
      <li class="active">{% link_for dataset_title|truncate(30), controller='package', action='read', id=pkg.name %}</li>
    {% else %}
      {% set res_title_language, res_title = h.dge_dataset_field_value(res.name_translated) %}
      <li>{% link_for dataset_title|truncate(30), controller='package', action='read', id=pkg.name %}</li>
      <li class="active">{% link_for h.dge_resource_display_name_or_desc(res_title, None)|truncate(30), controller='package', action='resource_read', id=pkg.name, resource_id=res.id %}</li>
    {% endif %}
  {% endif %}
{% endif %}