{% set theme = 'theme' %}
{% set include_fields = [theme,] %}
{% set dict_fields = h.dge_dataset_display_fields(include_fields, schema.dataset_fields) %}
{% set field = dict_fields[theme] %}
<section class="theme categories">
  {% if pkg_dict.theme and dict_fields[theme]  %}
	{%- set values = pkg_dict[field.field_name] -%}
	{%- set labels = [] -%}
	{%- set _class = _class or 'tax-list' -%}

	{%- for choice in field.choices -%}
	    {%- if choice.value in values -%}
	      {%- do labels.append((h.scheming_language_text(choice.label), h.dge_theme_id(choice.value))) -%}
	    {%- endif -%}
	{%- endfor -%}
	
    {%- if labels|length > 0  -%}
        {%- if field.get('sorted_choices') -%}
            {%- set labels = labels|sort -%}
        {%- endif -%}
	    <ul class="dataset-categories {{ _class }}">
	    {%- set theme_lang = 'theme_{0}'.format(h.lang()) -%}
	    {%- for label, id in labels -%}
	       {%- set urlfor = h.url_for(controller='package', action='search', theme_lang=label) -%}
	       {%- set urlfor = urlfor.replace('theme_lang',theme_lang) -%}
	       <li><a class="{% block theme_list_item_class %}label{% endblock %} {{ id }}" href="{{ urlfor }}">{{ label }}</a></li>
	    {%- endfor -%}
	    </ul>
    {%- endif -%}
  {% endif %}
</section>