{% block license %}
  {% if pkg_dict.license_id %}
    {% block license_wrapper %}
      <section class="license">
        {% block license_title %}
          <div class="dataset-metadata">
          <strong> {{ _('License') }}</strong>
        {% endblock %}
        {% block license_content %}
          <span class="module-content">
            {% block license_content_inner %}
              <a href="{{ pkg_dict.license_id }}" rel="dc:rights">{{ pkg_dict.license_id }}</a>
              {% if pkg_dict.isopen %}
                <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
                    <img class="open-data" src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="[Open Data]" />
                </a>
              {% endif %}
            {% endblock %}
          </div>
        {% endblock %}
      </section>
    {% endblock %}
  {% else %}
    {{ _('No License Provided') }}
  {% endif %}
{% endblock %}
