{% set language, multilingual_tags = h.dge_dataset_tag_field_value(tags) %}
{% if (multilingual_tags) %}
<section class="tags">
  {% if (language) %}
    <div lang='{{language}}' xml:lang='{{language}}'>
  {% endif %}
      <ul class="tag-list">
      {% for tag in multilingual_tags %}
        <li>
          <a class="{% block tag_list_item_class %}tag{% endblock %}" href="{{ h.dge_tag_link(tag, language) }}">{{ h.truncate(tag, 22) }}</a>
        </li>
      {% endfor %}
      </ul>
  {% if (language) %}
    </div>
  {% endif %}
</section>

{% endif %}
