{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to
dataset_type - Dataset type
schema - Schema

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, 
    resources=pkg.resources, dataset_type=dataset_type, schema=schema %}

#}

<section id="dataset-resources" class="resources">
  <h2 class="section-title">{{ _('Resources') }}</h2>
  {% block resource_list %}
    {% if resources %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% set sorted_pkg_resources = h.dge_sort_alphabetically_resources(pkg.resources) %}
          {% for resource in sorted_pkg_resources %}
            {% snippet 'package/snippets/dge_resource_item.html', pkg=pkg, 
                res=resource.resource, language=resource.lang, value=resource.value, url_is_edit=false, schema=schema  %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
            <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
      {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
    {% endif %}
    {% endblock %}
</section>
