{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
<li class="resource-item" data-id="{{ res.id }}" id="{{res.id}}">
  {% block resource_item_title %}
    <div class="resource-item resource-item-name">
      {% if not value %}
        {% set value =  _("Unnamed resource") %}
      {% endif %}
      {% if language %}
      <div lang='{{language}}' xml:lang='{{language}}'>
      {% endif %}
      {% if url_is_edit %}
      <a class="heading" href="{{ url }}" title="{{ value }}">
      {% endif %}
         <strong>{{ value }}</strong>
      {% if url_is_edit %}
        </a>
      {% endif %}
      {% if (language) %}
        </div>
      {% endif %}
      <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}{#% snippet 'display_snippets/select.html', field=dict_fields['format'], data=res %#}</span>
    </div>
  {% endblock %}
  {% if not url_is_edit %}
    {% set dict_fields = h.dge_dataset_display_fields(['format'], schema.resource_fields) %}
    {% block resource_item_more_info %}
      <div class="resource-item more-info">
        {% if res.resource_relation %}
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#r{{res.id}}">{{ _('More information')  }}</a>
        {% endif %}
        {% block resource_item_resources %}
          {% if res.resource_relation  %}
            <div class="resource-item resources collapse" id="r{{ res.id }}">
              <ul>
                {% for relation in res.resource_relation %}
                  <li><a href="{{ relation }}">{{ relation }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
    {% block resource_item_format %}
      <div class="resource-item format">
        {% if res.format %}
          {% snippet 'scheming/display_snippets/select.html', field=dict_fields['format'], data=res %}
        {% endif %}
      </div>
    {% endblock %}
    {% block resource_item_size %}
      <div class="resource-item size">
        {% if res.byte_size %}
          {{ res.byte_size }} {{ _('Bytes')  }}
        {% endif %}
      </div>
    {% endblock %}
    {% block resource_item_explore %}
      <div class="btn-group">
        <a href="{{ res.url }}" class="btn btn-primary resource-url-analytics" target="_blank">
          {%- set format_label = h.scheming_choices_label(dict_fields['format'].choices, res[dict_fields['format'].field_name]) -%}
          {% if h.dge_is_downloadable_resource(res.url, format_label) %}
            <i class="icon-download"></i>
            {{ _('Download') }}
          {% else %}
            <i class="icon-external-link"></i>
            {{ _('Access') }}
          {% endif %}
        </a>
      </div>
    {% endblock %}
  {% endif %}
</li>
