{% import 'macros/form.html' as form %}

<div class="multi-new-value multi-new-value-{{field.field_name}}" id="multi-value-{{field.field_name}}">
   {% set vars = {'formulary': False, 'indice': 1} %}

   {% set processed_indexes = [] %}

   {%- for valor in data | sort -%}
      {% if valor.startswith( field.field_name + '-date-from-' ) and data.get(valor) %}
         {% set index = valor.split('-')[-1] %}

         {% if not index in processed_indexes %}

            {% do processed_indexes.append(index) %}

            {% set date = data.get(field.field_name + '-date-from-'+ index) %}
            {% set time = data.get(field.field_name + '-time-from-'+ index) %}
            {% set date_to = data.get(field.field_name + '-date-to-'+ index) %}
            {% set time_to = data.get(field.field_name + '-time-to-'+ index) %}

            <div class="div-{{field.field_name}}" id="div-{{field.field_name}}-{{vars.indice}}">
               <div class="div-date">
                  {% call form.input_block(
                      'field-' + field.field_name +  '-date-from-' ~ vars.indice,
                      h.scheming_language_text(field.label) + ' ' ~ vars.indice + '. ' + _('From'),
                      errors[field.field_name],
                      ['div-'+ 'field-' + field.field_name], [], '', FALSE
                     )
                  %}
                    <input id="{{ 'field-' + field.field_name +  '-date-from-' ~ vars.indice }}" type="date" name="{{ field.field_name +  '-date-from-' ~ vars.indice }}" value="{{ date }}" class="input-medium dataset-private" placeholder="AAAA/MM/DD" />
                    <input id="{{ 'field-' + field.field_name +  '-time-from-' ~ vars.indice }}" type="time" name="{{ field.field_name +  '-time-from-' ~ vars.indice }}" value="{{ time }}" class="input-small" placeholder="hh:mm" />

                    {#%- snippet 'scheming/form_snippets/help_text.html', field=field -%#}
                  {% endcall %}
               </div>
               <div class="div-time">
                  {% call form.input_block(
                      'field-' + field.field_name +  '-date-to-' ~ vars.indice,
                      _('To'),
                      errors[field.field_name],
                      ['div-'+ 'field-' + field.field_name], [], '', FALSE
                     )
                  %}
                    <input id="{{ 'field-' + field.field_name +  '-date-to-' ~ vars.indice }}" type="date" name="{{ field.field_name +  '-date-to-' ~ vars.indice }}" value="{{ date_to }}" class="input-medium dataset-private" placeholder="AAAA/MM/DD" />
                    <input id="{{ 'field-' + field.field_name +  '-time-to-' ~ vars.indice }}" type="time" name="{{ field.field_name +  '-time-to-' ~ vars.indice }}" value="{{ time_to }}" class="input-small" placeholder="hh:mm" />

                    {#%- snippet 'scheming/form_snippets/help_text.html', field=field -%#}
                  {% endcall %}
               </div>
            </div>
            {% if vars.update({'indice': vars.indice + 1}) %} {% endif %}
            {% if vars.update({'formulary': True}) %} {% endif %}

         {% endif %}
      {% endif %}
   {%- endfor -%}
   {#
       Si no hay campos de formulario se comprueba si es una edicion
   #}
   {% if not vars.formulary %}
      {%- set values = data.get(field.field_name, []) -%}

      {%- for element in values | sort -%}
         {% set date_from = '' %}
         {% set time_from = '' %}
         {% set date_to = '' %}
         {% set time_to = '' %}

         {% set dates = values.get(element) %}

         {% if dates.from %}
              {% set parts = dates.from.split('T') %}
              {% set date_from = parts[0] %}
              {% set time_from = parts[1] %}
         {% endif %}
         {% if dates.to %}
              {% set parts = dates.to.split('T') %}
              {% set date_to = parts[0] %}
              {% set time_to = parts[1] %}
         {% endif %}
         <div class="div-{{field.field_name}}" id="div-{{field.field_name}}-{{vars.indice}}">
            <div class="div-date">
               {% call form.input_block(
                   'field-' + field.field_name +  '-date-from-' ~ vars.indice,
                   h.scheming_language_text(field.label) + ' ' ~ vars.indice + '. ' + _('From'),
                   errors[field.field_name],
                   ['div-'+ 'field-' + field.field_name], [], '', FALSE
                  )
               %}
                 <input id="{{ 'field-' + field.field_name +  '-date-from-' ~ vars.indice }}" type="date" name="{{ field.field_name +  '-date-from-' ~ vars.indice }}" value="{{ date_from }}" class="input-medium dataset-private" placeholder="AAAA/MM/DD" />
                 <input id="{{ 'field-' + field.field_name +  '-time-from-' ~ vars.indice }}" type="time" name="{{ field.field_name +  '-time-from-' ~ vars.indice }}" value="{{ time_from }}" class="input-small" placeholder="hh:mm" />

                 {#%- snippet 'scheming/form_snippets/help_text.html', field=field -%#}
               {% endcall %}
            </div>
            <div class="div-time">
               {% call form.input_block(
                   'field-' + field.field_name +  '-date-to-' ~ vars.indice,
                   _('To'),
                   errors[field.field_name],
                   ['div-'+ 'field-' + field.field_name], [], '', FALSE
                  )
               %}
                 <input id="{{ 'field-' + field.field_name +  '-date-to-' ~ vars.indice }}" type="date" name="{{ field.field_name +  '-date-to-' ~ vars.indice }}" value="{{ date_to }}" class="input-medium dataset-private" placeholder="AAAA/MM/DD" />
                 <input id="{{ 'field-' + field.field_name +  '-time-to-' ~ vars.indice }}" type="time" name="{{ field.field_name +  '-time-to-' ~ vars.indice }}" value="{{ time_to }}" class="input-small" placeholder="hh:mm" />

                 {#%- snippet 'scheming/form_snippets/help_text.html', field=field -%#}
               {% endcall %}
            </div>
         </div>
         {% if vars.update({'indice': vars.indice + 1}) %} {% endif %}
      {%- endfor -%}
   {% endif %}

   <div class="div-{{field.field_name}}" id="div-{{field.field_name}}-{{vars.indice}}">
      <div class="div-date">
         {% call form.input_block(
             'field-' + field.field_name +  '-date-from-' ~ vars.indice,
             h.scheming_language_text(field.label) + ' ' ~ vars.indice + '. ' + _('From'),
             errors[field.field_name],
             ['div-'+ 'field-' + field.field_name], [], '', FALSE
            )
         %}
            <input id="{{ 'field-' + field.field_name +  '-date-from-' ~ vars.indice }}" type="date" name="{{ field.field_name +  '-date-from-' ~ vars.indice }}" value="{{ date }}" class="input-medium dataset-private" placeholder="AAAA/MM/DD" />
            <input id="{{ 'field-' + field.field_name +  '-time-from-' ~ vars.indice }}" type="time" name="{{ field.field_name +  '-time-from-' ~ vars.indice }}" value="{{ time }}" class="input-small" placeholder="hh:mm" />

            {#%- snippet 'scheming/form_snippets/help_text.html', field=field -%#}
         {% endcall %}
      </div>
      <div class="div-time">
         {% call form.input_block(
               'field-' + field.field_name +  '-date-to-' ~ vars.indice,
               _('To'),
               errors[field.field_name],
               ['div-'+ 'field-' + field.field_name], [], '', FALSE
            )
         %}
            <input id="{{ 'field-' + field.field_name +  '-date-to-' ~ vars.indice }}" type="date" name="{{ field.field_name +  '-date-to-' ~ vars.indice }}" value="{{ date }}" class="input-medium dataset-private" placeholder="AAAA/MM/DD" />
            <input id="{{ 'field-' + field.field_name +  '-time-to-' ~ vars.indice }}" type="time" name="{{ field.field_name +  '-time-to-' ~ vars.indice }}" value="{{ time }}" class="input-small" placeholder="hh:mm" />

            {#%- snippet 'scheming/form_snippets/help_text.html', field=field -%#}
         {% endcall %}
      </div>
   </div>

   <div id="multi-value-{{field.field_name}}-link" class="multi-add-field control-group">
      {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
      <div class="controls">
         <button class="btn btn-mini btn-add-multiple-field" type="button" onclick="addNewField_{{field.field_name}}();">{% trans %}Add new{% endtrans %} {{h.scheming_language_text(field.label)}}</button>
      </div>
   </div>

   <script>
       function addNewField_{{field.field_name}}(){
          if(window.jQuery) {
             var last_div = $("#multi-value-{{field.field_name}} .div-{{field.field_name}}").last();
             if (last_div != null) {
                var new_div = last_div.clone();
                var num_input = parseInt(new_div.attr('id').substring(new_div.attr('id').lastIndexOf("-")+1))+1;
                new_div.attr('id', new_div.attr('id').substring(0, new_div.attr('id').lastIndexOf("-")+1) + num_input);
                var label= new_div.find('.div-date label');
                var string_input = label.text();
                var index = string_input.lastIndexOf(". ")
                var pre_string_input = string_input.substring(0, index)
                var post_input = string_input.substring(index)
                label.empty();
                label.append(string_input.substring(0, pre_string_input.lastIndexOf(" ")+1) + num_input + post_input);
                new_div.find("input").each(function(){
                   $(this).attr('id', $(this).attr('id').substring(0, $(this).attr('id').lastIndexOf("-")+1) + num_input);
                   $(this).attr('name', $(this).attr('name').substring(0, $(this).attr('name').lastIndexOf("-")+1) + num_input);
                   $(this).val('');
                });
                $("#multi-value-{{field.field_name}}-link").before(new_div);
             }
          }
       }
  </script>
</div>
