{% if 'archiver' in res %}
	{%- set date = res.archiver.updated.split('T')[0].split('-') -%}
	{%- set formated_date = '{day}/{month}/{year}'.format(day=date[2], month=date[1], year=date[0]) -%}
	{% if 'connect timeout=30' in res.archiver.reason or 'after 30s' in res.archiver.reason or 'No connection adapters' in res.archiver.reason %}
		{# if timeout empty span #}
		<span class="icon-stack archiver-icon-stack"></span>
	{% elif res.archiver.is_broken %}
		<span title="{{ _('Broken link').format(date=formated_date) }}" class="icon-stack archiver-icon-stack">
			<i class="icon icon-circle archiver-icon-background"></i>
			<i class="icon icon-remove-circle archiver-icon link-broken"></i>
		</span>
	{% else %}
		<span title="{{ _('Online link').format(date=formated_date) }}" class="icon-stack archiver-icon-stack">
			<i class="icon icon-circle archiver-icon-background"></i>
			<i class="icon icon-ok-circle archiver-icon link-ok"></i>
		</span>
	{% endif %}
{% else %}
	{#<span title="{{ _('Link status unknown') }}" class="icon-stack archiver-icon-stack">
		<i class="icon icon-circle archiver-icon-background"></i>
		<i class="icon icon-circle-blank archiver-icon link-not-known"></i>
		<i class="icon icon-question archiver-icon link-not-known question-mark"></i>
	</span>#}
{% endif %}
