{% extends "page.html" %}
{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
       {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Data Catalog') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge.controllers:DGEController', action='default_theme') }}",
            "name": "Taxonomía de sectores primarios"
          }
      }
    ]
  }
  </script>
{% endblock %}

{% block subtitle %}Taxonomía de sectores primarios{% endblock %}
{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Data Catalog'), controller='package', action='search', highlight_actions = 'new index') }}</li>
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}
{% block page_title_content %}Taxonomía de sectores primarios{% endblock %}
{% block catalog_downloads %}{% endblock %}
{% block primary_content_inner %}
{% set current_lang = request.environ.CKAN_LANG %}
{% if current_lang !='es' %}
<div lang="es" xml:lang="es">
{% endif %}
<div class="table-responsive">
<table class="table table-bordered table-condensed table-hover">
<thead><tr>
<th>Sector</th><th>Incluye</th><th>URI</th>
</tr></thead>
<tbody>
<tr><td>Ciencia y tecnología</td><td>Innovación, Investigación, I+D+i, Telecomunicaciones, Internet y Sociedad de la Información</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/ciencia-tecnologia">http://datos.gob.es/kos/sector-publico/sector/ciencia-tecnologia</a></td></tr>
<tr><td>Comercio</td><td>Consumo</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/comercio">http://datos.gob.es/kos/sector-publico/sector/comercio</a></td></tr>
<tr><td>Cultura y ocio</td><td>Tiempo libre</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/cultura-ocio">http://datos.gob.es/kos/sector-publico/sector/cultura-ocio</a></td></tr>
<tr><td>Demografía</td><td>Inmigración y Emigración, Familia, Mujeres, Infancia, Mayores, Padrón</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/demografia">http://datos.gob.es/kos/sector-publico/sector/demografia</a></td></tr>
<tr><td>Deporte</td><td>Instalaciones deportivas, Federaciones, Competiciones</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/deporte">http://datos.gob.es/kos/sector-publico/sector/deporte</a></td></tr>
<tr><td>Economía</td><td>Deuda, Moneda y Banca y finanzas</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/economia">http://datos.gob.es/kos/sector-publico/sector/economia</a></td></tr>
<tr><td>Educación</td><td>Formación</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/educacion">http://datos.gob.es/kos/sector-publico/sector/educacion</a></td></tr>
<tr><td>Empleo</td><td>Trabajo, Mercado laboral</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/empleo">http://datos.gob.es/kos/sector-publico/sector/empleo</a></td></tr>
<tr><td>Energía</td><td>Fuentes renovables</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/energia">http://datos.gob.es/kos/sector-publico/sector/energia</a></td></tr>
<tr><td>Hacienda</td><td>Impuestos</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/hacienda">http://datos.gob.es/kos/sector-publico/sector/hacienda</a></td></tr>
<tr><td>Industria</td><td>Minería</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/industria">http://datos.gob.es/kos/sector-publico/sector/industria</a></td></tr>
<tr><td>Legislación y justicia</td><td>Registros</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/legislacion-justicia">http://datos.gob.es/kos/sector-publico/sector/legislacion-justicia</a></td></tr>
<tr><td>Medio ambiente</td><td>Meteorología, Geografía, Conservación fauna y flora</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/medio-ambiente">http://datos.gob.es/kos/sector-publico/sector/medio-ambiente</a></td></tr>
<tr><td>Medio Rural</td><td>Agricultura, Ganadería, Pesca y Silvicultura</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/medio-rural-pesca">http://datos.gob.es/kos/sector-publico/sector/medio-rural-pesca</a></td></tr>
<tr><td>Salud</td><td>Sanidad</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/salud">http://datos.gob.es/kos/sector-publico/sector/salud</a></td></tr>
<tr><td>Sector público</td><td>Presupuestos, Organigrama institucional, Legislación interna, Función pública</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/sector-publico">http://datos.gob.es/kos/sector-publico/sector/sector-publico</a></td></tr>
<tr><td>Seguridad</td><td>Protección civil, Defensa</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/seguridad">http://datos.gob.es/kos/sector-publico/sector/seguridad</a></td></tr>
<tr><td>Sociedad y bienestar</td><td>Participación ciudadana, Marginación, Envejecimiento Activo, Autonomía personal y Dependencia, Invalidez, Jubilación, Seguros y Pensiones, Prestaciones y Subvenciones</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/sociedad-bienestar">http://datos.gob.es/kos/sector-publico/sector/sociedad-bienestar</a></td></tr>
<tr><td>Transporte</td><td>Comunicaciones y Tráfico</td><td><a href="http://datos.gob.es/kos/sector-publico/sector/transporte">http://datos.gob.es/kos/sector-publico/sector/transporte</a></td></tr>
</tbody>
</table>
</div>
<div>
{% if current_lang !='es' %}</div>{% endif %}
{% endblock %}
{% block secondary %}
{# Supress left column #}
{% endblock %}