{% extends "page.html" %}
{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
       {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge.controllers:DGEController', action='organism') }}",
            "name": "Identificación de los organismos públicos"
          }
      }
    ]
  }
  </script>
{% endblock %}

{% block subtitle %}Identificación de los organismos públicos{% endblock %}
{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Identificación de los organismos públicos'), controller='ckanext.dge.controllers:DGEController', action='organism') }}</li>
{% endblock %}
{% block page_title_content %}Identificación de los organismos públicos{% endblock %}
{% block catalog_downloads %}{% endblock %}
{% block primary_content_inner %}
{% set current_lang = request.environ.CKAN_LANG %}
{% if current_lang !='es' %}
<div lang="es" xml:lang="es">
{% endif %}
{% if c.organization_list %}
<div class="table-responsive">
<table class="table table-bordered table-condensed table-hover">
<thead><tr>
<th>Organismo</th><th>Código DIR3</th><th>URI</th>
</tr></thead>
<tbody>
{% for organization in c.organization_list %}
<tr><td>{{ organization.title }}</td><td>{{ organization.dir3 }}</td><td>{{ organization.uri }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif%}
{% if current_lang !='es' %}</div>{% endif %}
{% endblock %}
{% block secondary %}
{# Supress left column #}
{% endblock %}