{% extends "page.html" %}
{% set theme_dict = c.theme_dict %}
{% if theme_dict and (theme_dict.type or theme_dict.label) %}
	{% set title = (_(theme_dict.type) if theme_dict.type else "") + ": " +  (theme_dict.label if theme_dict.label else "")%}
{% else %}
	{% set title = "" %}
{% endif %}
{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
       {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge.controllers:DGEController', action='theme', name=theme_dict.name) }}",
            "name": "{{ title }}"
          }
      }
    ]
  }
  </script>
{% endblock %}

{% block subtitle %}{{ title }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(title , controller='ckanext.dge.controllers:DGEController', action='theme', name=theme_dict.name) }}</li>
  {% endblock %}
{% block page_title_content %}{{ title }}{% endblock %}
{% block catalog_downloads %}{% endblock %}
{% block primary_content_inner %}
{% set current_lang = request.environ.CKAN_LANG %}
{% if current_lang !='es' %}
<div lang="es" xml:lang="es">
{% endif %}
{% if theme_dict and theme_dict.about %}
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr><th colspan='6'><a href="{{ theme_dict.about }}">{{ theme_dict.about }}</a></th></tr>
    </thead>
    <tbody>
      {% if theme_dict.rows %}
      {% for row in theme_dict.rows %}
      <tr>
        <td></td>
        <td colspan='2'>{{ row['key'] }}</td>
        <td colspan='3'>
          {% if row['value'].startswith('http://') or row['value'].startswith('https://') %}
          <a href="{{ row['value'] }}">{{ row['value'] }}</a>
          {% else %}
          {{ row['value'] }}
          {% endif %}
        </tr>
     {% endfor %}
     {% endif %}
    </tbody>
  </table>
</div>
{% else %}
 <p class="text-center alert alert-info">{{ _('No data') }}</p>
{% endif %}
<div>
<p>
<br/>
<h2>{{ _('Used prefixes') }}</h2>
    <ul>
      <li><strong>skos</strong>: <a href="http://www.w3.org/2004/02/skos/core#" target="_blank">http://www.w3.org/2004/02/skos/core#</a></li>
      <li><strong>rdf</strong>: <a href="http://www.w3.org/1999/02/22-rdf-syntax-ns#" target="_blank">http://www.w3.org/1999/02/22-rdf-syntax-ns#</a></li>
      <li><strong>rdfs</strong>: <a href="http://www.w3.org/2000/01/rdf-schema#" target="_blank">http://www.w3.org/2000/01/rdf-schema#</a></li>
      <li><strong>owl</strong>: <a href="http://www.w3.org/2002/07/owl#" target="_blank">http://www.w3.org/2002/07/owl#</a></td></tr>
      <li><strong>esadm</strong>: <a href="http://vocab.linkeddata.es/datosabiertos/def/sector-publico/territorio#" target="_blank">http://vocab.linkeddata.es/datosabiertos/def/sector-publico/territorio#</a></li>
    </ul>
 </p>
</div>
{% if current_lang !='es' %}</div>{% endif %}
{% endblock %}
{% block secondary %}
{# Supress left column #}
{% endblock %}