{% ckan_extends %}

{% set active_li = ' active-trail active is-visible' %}
{% set active_a = 'active-trail active' %}
{% set user_logged = c.userobj %}

{% set visible_impact = '' %}
{% set active_impact = '' %}
{% set active_impact_a = '' %}
{% if (c.controller == 'ckanext.dge_dashboard.controllers:DGEDashboardController' and c.action == 'dashboard')%}
  {% set visible_impact = ' is-visible' %}
  {% set active_impact = ' active' %}
  {% set active_impact_a = " class='active'" %}
{% endif %}

{% set visible_my_account2 = '' %}
{% set active_my_account2 = '' %}
{% set active_my_account_a2 = '' %}
{% if (c.controller == 'ckanext.dge.controllers:DGEPackageController' 
    or c.controller == 'organization' 
    or c.controller == 'ckanext.dge.controllers:DGEOrganizationController'
    or c.controller == 'ckanext.harvest.controllers.view:ViewController'
    or (c.controller == 'package' and c.dataset_type == 'harvest')
    or (c.controller == 'ckanext.dge_dashboard.controllers:DGEDashboardController' and c.action == 'my_dashboard'))%}
  {% set visible_my_account2 = ' is-visible' %}
  {% set active_my_account2 = ' active' %}
  {% set active_my_account_a2 = " class='active'" %}
{% endif %}

{% block impact_menu %}
  <li class="leaf has-children{{ active_impact }}"><a href="#impact">{{ _('Impact') }}</a></li>
{% endblock %}

{% block my_account_menu %}
  <li class="leaf has-children{{ active_my_account2 }}"><a href="#useroptions"{{ active_my_account_a2 }}>{{ _('My Account') }}</a></li>
{% endblock %}

{% block impact %}
 <li class="expanded{{ visible_impact }}"><a href="#impact">{{ _('Impact') }}</a>
{% endblock %}

{% block dashboard %}
  {% if (c.controller == 'ckanext.dge_dashboard.controllers:DGEDashboardController' and c.action == 'dashboard') %}
  <li class="leaf{{ active_li }}"><a href="{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='dashboard') }}" class="{{ active_a }}">{{ _('Dashboard') }}</a></li>
  {% else %}
  <li class="leaf"><a href="{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='dashboard') }}">{{ _('Dashboard') }}</a></li>
  {% endif %}
{% endblock %}

{% block my_account %}
  <li class="expanded menu-mlid-2 {{ visible_my_account2 }}"><a href="#useroptions">{{ _('My Account') }}</a>
{% endblock %}

{% block my_dashboard %}
  {% if (c.controller == 'ckanext.dge_dashboard.controllers:DGEDashboardController' and c.action == 'my_dashboard') %}
  <li class="leaf{{ active_li }}"><a href="{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}" class="{{ active_a }}">{{ _('My Dashboard') }}</a></li>
  {% else %}
  <li class="leaf"><a href="{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}">{{ _('My Dashboard') }}</a></li>
  {% endif %}
{% endblock%}
