{% ckan_extends %}

{%- block page -%}

  {% block skip %}
    <div id="skip-link" class="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">{{ _('Skip to content') }}</a>
    </div>
  {% endblock %}

  {% block sitepage %}
    <div class="site-page">
  {% endblock %}

      {%- block header %}
        {% include "header.html" %}
      {% endblock -%}

      {%- block content %}
        {% block maintag %}<main id="main" role="main" class="site-main clearfix">{% endblock %}
        <div class="site-wrapper">
          <div id="content" class="site-content">
            <div class="site-content__wrapper">
              <a id="main-content"></a>
              {% block main_content %}
                {% block flash %}
                  <div class="flash-messages">
                    {% block flash_inner %}
                  {% for message in h.flash.pop_messages() | list %}
                  <div class="alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                  {% endfor %}
                    {% endblock %}
                  </div>
                {% endblock %} {# - //block flash #}

                {% block toolbar %}
                  <div id="breadcrumb" class="dge-breadcrumb toolbar">
                    <h2 class="element-invisible">You are here</h2>
                    {% block breadcrumb %}
                      {% if self.breadcrumb_content() | trim %}
                        <ul class="breadcrumb">
                          {% snippet 'snippets/dge_home_breadcrumb_item.html' %}
                          {% block breadcrumb_content %}{% endblock %}
                        </ul>
                      {% endif %}
                    {% endblock %}
                  </div>
                {% endblock %}{# - //block toolbar #}
                {% block page_title %}
                    <h1 class="page-title">
                        {% block page_title_content %}{% endblock %}
                    </h1>
                {% endblock %}
                {% block catalog_downloads %}{% endblock %}
                <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %} dge-ckan-layout">
                  {% block pre_primary %}{% endblock %}
                  {% block primary %}
                    <div class="primary span9">
                      {% block primary_content %}
                        <article class="module">
                          {% block page_header %}
                            <header class="module-content page-header">
	                          {% if self.content_action() | trim %}
	                            <div class="content_action">
	                              {% block content_action %}{% endblock %}
	                            </div>
	                          {% endif %}
	                          {% block content_primary_nav %}
	                          <ul class="nav nav-tabs">
	                          {% block content_primary_nav_items %} {% endblock %}
	                          </ul>
	                          {% endblock %}
                            </header>
                          {% endblock %}
                          <div class="module-content">
                            {% if self.page_primary_action() | trim %}
                              <div class="page_primary_action">
                                {% block page_primary_action %}{% endblock %}
                              </div>
                            {% endif %}
                            {% block primary_content_inner %}{% endblock %}
                          </div>
                        </article>
                      {% endblock %}
                    </div>
                  {% endblock %}{# block primary #}
                  {% block secondary %}
                    <aside class="secondary span3">
                      {% block secondary_content %}{% endblock %}
                    </aside>
                  {% endblock %}
                </div>
              {% endblock %}{# block main_content #}
            </div>{# site-content__wrapper #}
          </div>
        </div>{# site-wrapper #}
        {% block endmaintag %} </main>{% endblock %}
      {% endblock %}{# block content #}
    {% block endsitepage %}</div>{% endblock %}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}{# block page #}