{% ckan_extends %}

{% set broken_linkOrgName = h.dge_url_for_user_organization() %}

{% block report %}
	
	{% if c.userobj.sysadmin %}
		<li class="leaf"><a href="/report/broken-links">{{ _('Broken links') }}</a></li>
	{% else %}
		{% if (broken_linkOrgName == None) %}
			<li></li>
		{% elif (broken_linkOrgName[1:3] =='es' or broken_linkOrgName[1:3] == 'ca' or broken_linkOrgName[1:3] == 'en' or broken_linkOrgName[1:3] == 'eu' or broken_linkOrgName[1:3] == 'gl') %}
			<!--<li class="leaf"><a href="{{ broken_linkOrgName2 }}">{{ _('Broken links') }}</a></li>-->
			<li class="leaf"><a href="/report/broken-links{{broken_linkOrgName[16:]}}">{{ _('Broken links') }}</a></li>
		{% else %}
			<!--<li class="leaf"><a href="{{ broken_linkOrgName2 }}">{{ _('Broken links') }}</a></li>-->
			<li class="leaf"><a href="/report/broken-links{{broken_linkOrgName[13:]}}">{{ _('Broken links') }}</a></li>
		{% endif %}
	{% endif %}
{% endblock%}
