{% ckan_extends %}

{% block page_heading %}
    {% set language, value = h.dge_dataset_field_value(pkg.title_translated) %}
    {% if (language and value) %}
      <div lang='{{language}}' xml:lang='{{language}}'>{{ value }}</div>
    {% elif value %}
      {{ value }}
    {% endif %}
    {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
    {% endif %}
    {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
    {% endif %}
 
{% endblock %}
{% block page_title %}{% endblock %}
{% block catalog_downloads %}{% endblock %}

{% block package_notes %}
  <div class="group">
    {% snippet "package/snippets/dge_social.html", pkg_dict=pkg %}
    {% snippet "package/snippets/dge_theme.html", pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
  </div>
    {% snippet "package/snippets/dge_owner.html", pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
    {% snippet "package/snippets/dge_license.html", pkg_dict=pkg %}
    {% snippet "package/snippets/dge_description.html", pkg=pkg %}
{% endblock %}

{% block package_resources %}
    {% snippet "package/snippets/dge_resources_list.html", pkg=pkg, 
        resources=pkg.resources, dataset_type=dataset_type, schema=schema %}
 {% endblock %}

{% block package_tags %}
    {% snippet "package/snippets/dge_tags.html", tags=pkg.multilingual_tags %}
{% endblock %}

{% block package_additional_info %}
  {% snippet "package/snippets/dge_additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}

{% block content_primary_nav %}
  {{ super() }}
  {% snippet "package/snippets/dge_export_links.html", pkg=pkg %}
{% endblock %}