[main]
order = dge-base-normalize.css 
		dge-base-fonts-ckan.css 
		dge-base-ckan.css 
		dge-base.css 
		dge-base-ie.css 
		dge-layout.css 
		dge-modules-sidr.css 
		dge-modules-ckan.css 
		dge-modules.css 
		dge-status.css
		swagger/css/typography.css
		swagger/css/screen.css
		swagger/css/reset.css
		swagger/css/print.css
		dge/swagger/dge_swagger.css
		

		

[IE conditional]

[custom render order]

swagger/lang/translator.js  = 19
swagger/lib/jquery-1.8.0-min.js = 30
swagger/lib/jquery.slideto-min.js = 31
swagger/lib/jquery.wiggle-min.js = 32
swagger/lib/jquery.ba-bbq-min.js = 33
swagger/lib/handlebars-2.0.0.js = 34
swagger/lib/underscore-min.js = 35
swagger/lib/backbone-min.js = 36
swagger/swagger-ui.js = 37
swagger/lib/highlight.7.3.pack.js = 38
swagger/lib/jsoneditor-min.js = 39
swagger/lib/marked.js = 40
swagger/lib/swagger-oauth.js = 41
swagger/dge_swagger.js = 43

[inline scripts]

[depends]
swagger/swagger-ui.js = vendor/jquery.js
 
[groups]
		

