<ul class="catalog">
  {% set rdf_file, csv_file, atom_file = h.dge_exported_catalog_files() %}
  {% if rdf_file %}
  <li class="catalog-rdf"><a href="{{ rdf_file }}" target="_blank" title="{{ _('RDF Data Catalog') }}. {{ _('Opens a new window') }}"><img src="{{ h.url_for_static('/images/PNG/catalog-rdf.png') }}" alt="{{ _('RDF Data Catalog') }}. {{ _('Opens a new window') }}"></a></li>
  {% endif %}
  {% if csv_file %}
  <li class="catalog-csv"><a href="{{ csv_file }}" target="_blank" title="{{ _('CSV Data Catalog') }}. {{ _('Opens a new window') }}"><img src="{{ h.url_for_static('/images/PNG/catalog-csv.png') }}" alt="{{ _('CSV Data Catalog') }}. {{ _('Opens a new window') }}"></a></li>
  {% endif %}
  {% if atom_file %}
  <li class="catalog-atom"><a href="{{ atom_file }}" target="_blank" title="{{ _('ATOM Data Catalog') }}. {{ _('Opens a new window') }}"><img src="{{ h.url_for_static('/images/PNG/catalog-rss.png') }}" alt="{{ _('ATOM Data Catalog') }}. {{ _('Opens a new window') }}"></a></li>
  {% endif %}
</ul>