{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set query_string_url = request.environ.QUERY_STRING %} 
{% set path_info = request.environ.PATH_INFO %} 
{% set current_lang = request.environ.CKAN_LANG %}
<form class="lang_dropdown_form language" id="lang_dropdown_form_language" action="{% url_for controller='util', action='redirect' %}" data-module="select-switch" method="POST" accept-charset="UTF-8">
  <div>
  <div class="form-item form-type-select form-item-lang-dropdown-select">
    <select style="width:100px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language" name="url" title="{{ _('Language') }}">
      {% for locale in h.get_available_locales() %}
        <option value="{% url_for path_info, locale=locale %}?{{query_string_url}}" {% if locale == current_lang %}selected="selected"{% endif %}>
          {{ locale.display_name.title() or locale.english_name.title() }}
        </option>
      {% endfor %}
    </select>
  </div>
  {% for locale in h.get_available_locales() %}
    <input type="hidden" name="{{ locale }}" value="{% url_for current_url, locale=locale %}">
  {% endfor %}
  <noscript>
    &lt;div&gt;
    &lt;input type="submit" id="edit-submit" name="op" value="Go" class="form-submit" /&gt;
    &lt;/div&gt;
  </noscript>
  </div>
</form>