{% extends "page.html" %}
{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}",
            "name": "{{ _('My Account') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}",
            "name": "{{ _('Administrator Dashboard') }}"
          }
      }
    ]
  }
  </script>
{% endblock %}

{% block subtitle %}{{ _('Administrator Dashboard') }}{% endblock %}
{% block breadcrumb_content %}
 <li>{% link_for _('My Account'), controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard' %}</li>
 <li class="active">{{ h.nav_link(_('My Dashboard'), controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}</li>
{% endblock %}
{% block page_title_content %}{{ _('Administrator Dashboard') }}{% endblock %}
{% block catalog_downloads %}{% endblock %}
{% block page_header %}{% endblock %}
{% block primary_content_inner %}
{% set current_lang = request.environ.CKAN_LANG %}
{% set special_org = h.dge_dashboard_special_org() %}
<div class="dge-dashboard-intro">{% trans %}Dashboard_introduction{% endtrans %}</div>
<div class="dge-dashboard">
  <h2>{{ _('General statistics') }}</h2>

  {% set visits_data, visits_graphs, error_loading_data = h.dge_dashboard_administrator_data_num_visits_by_section() %}
  <div>
    <p>
     <strong>{{ _('Evolution of datos.gob.es visits by section') }}</strong>
      {% set description = _('Evolution of datos.gob.es visits by section description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif visits_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmNumSectionVisitsByMonthYear" class="chartdiv"
           data-module="dge_dashboard_adm_numSectionVisitsByMonthYear"
           data-module-data_provider='{{ visits_data }}'
           data-module-graphs="{{ visits_graphs }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartAdmNumSectionVisitsByMonthYear"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set contents_dcbct, column_titles_dcbct, total, data_date, error_loading_data = h.dge_dashboard_administrator_published_drupal_contents() %}
  <div>
    <p>
     <strong>{{ _('Number of content published by section') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Number of content published by section description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif contents_dcbct|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="tableAdmNumDrupalContentsByContentType" class="tablediv"
           data-module="dge_dashboard_adm_numDrupalContentsByContentType"
           data-module-data_provider="{{ contents_dcbct }}"
           data-module-language="{{ current_lang }}"
           data-module-column_titles ="{{ column_titles_dcbct }}"
           data-module-divid = "tableAdmNumDrupalContentsByContentType"
           data-module-pager_divid = "externalPager_dcbct"
           data-module-no_data = "{{ _('The table contains no data') }}">
      </div>
      <div id="externalPager_dcbct" class="external-pager jsgrid-pager-container" style="text-align:center"></div>
      {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_drupal_contents_csv')%}
    <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
    {% endif %}
  </div>

    <p><br/><br/><br/></p>

    {% set likes_info, likes_column_titles, error_loading_data =
    h.dge_dashboard_administrator_drupal_contents_by_likes(limit=10) %}
    <div>
        <p>
            <strong>{{ _('Number of votes for published content') }}</strong>
            {% if (likes_info['update_date']) %}<br/>{{ _('Updated date') }}: {{ likes_info['update_date'] }}{% endif %}
        </p>
        {% if error_loading_data %}
        <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
        {% elif likes_info['data']|length <= 2 %}
        <p class="text-center alert alert-info">{{ _('No data') }}</p>
        {% else %}
        <div id="tableAdmDrupalContentsByLikes" class="tablediv"
             data-module="dge_dashboard_adm_drupalContentsByLikes"
             data-module-data_provider="{{ likes_info['data'] }}"
             data-module-language="{{ current_lang }}"
             data-module-column_titles="{{ likes_column_titles }}"
             data-module-divid="tableAdmDrupalContentsByLikes"
             data-module-pager_divid="externalPager_likes"
             data-module-no_data="{{ _('The table contains no data') }}">
        </div>
        <div id="externalPager_likes" class="external-pager jsgrid-pager-container" style="text-align:center"></div>
        {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_drupal_contents_by_likes_csv')%}
        <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i
                class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
        {% endif %}
    </div>


<p><br/><br/><br/></p>

  <h2>{{ _('Data Catalog') }}</h2>

  {% set data_date = None %}
  {% set datasetsByAdmLevel_data, datasetsByAdmLevel_graphs, error_loading_data = h.dge_dashboard_administrator_data_num_datasets_by_administration_level() %}
  <div>
    <p>
      <strong>{{ _('Evolution of published datasets by administration level') }}</strong>
      {% set description = _('Evolution of published datasets by administration level description') %}
      {% if description %}<br/> {{ description }}{% endif %}
   </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif datasetsByAdmLevel_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmNumDatasetsByAdmLevel" class="chartdiv"
           data-module="dge_dashboard_adm_numDatasetsByAdmLevel"
           data-module-data_provider='{{ datasetsByAdmLevel_data }}'
           data-module-graphs="{{ datasetsByAdmLevel_graphs }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartAdmNumDatasetsByAdmLevel"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

  <p><br/><br/><br/></p>

  {% set data_date = None %}
  {% set datasets_org, error_loading_data = h.dge_dashboard_administrator_data_num_datasets_by_organization() %}
  <div>
    <p>
      <strong>{{ _('Evolution of published datasets by organization') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Evolution of published datasets by organization description') %}
      {% if description %}<br/> {{ description }}{% endif %}
   </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif datasets_org|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmNumDatasetsByOrg" class="chartdiv"
           data-module="dge_dashboard_adm_numDatasetsByOrg"
           data-module-data_sets="{{ datasets_org }}"
           data-module-language="{{ current_lang }}"
           data-module-combo_box_select_text= "{{ _('Select') }}..."
           data-module-compare_text= "{{ _('Compare to') }}: "
           data-module-select_text= "{{ _('Select') }}: "
           data-module-title=" "
           data-module-divid = "chartAdmNumDatasetsByOrg"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
      {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_datasets_by_org_csv')%}
      <p><br/><br/><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download all publishing entities') }}</a></p>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set data_date = None %}
  {% set datasets_num_res_data, filter_dnr, filter_dnr_2, column_titles_dnr, error_loading_data = h.dge_dashboard_administrator_data_num_datasets_by_num_resources() %}
  <div>
    <p>
      <strong>{{ _('Volume of datasets according to number of distributions') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Volume of datasets according to number of distributions description') %}
      {% if description %}<br/> {{ description }}{% endif %}
   </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif datasets_num_res_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div style="text-align:center">
        <div class="form-select control-group">
          <div class="dge-field-order-by">
            <select id="filterNumDatasetsByNumRes" title="{{ _('Month') }}">
              {% for t in filter_dnr_2:%}
              <option value="{{ t['id'] }}">{{ t['name'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div id="tableAdmNumDatasetsByNumRes" class="tablediv"
           data-module="dge_dashboard_adm_numDatasetsByNumRes"
           data-module-data_provider="{{ datasets_num_res_data }}"
           data-module-language="{{ current_lang }}"
           data-module-filter_divid="filterNumDatasetsByNumRes"
           data-module-filter_values="{{ filter_dnr }}"
           data-module-column_titles ="{{ column_titles_dnr }}"
           data-module-divid = "tableAdmNumDatasetsByNumRes"
           data-module-pager_divid = "externalPager_dnr"
           data-module-no_data = "{{ _('The table contains no data') }}">
      </div>
      <div id="externalPager_dnr" class="external-pager jsgrid-pager-container" style="text-align:center"></div>
      {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_datasets_by_res_csv')%}
      <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

    {% set top10vd_info, top10vd_column_titles, top10vd_error_loading_data =
    h.dge_dashboard_administrator_drupal_top10_voted_datasets(limit=10) %}
    <div>
        <p>
            <strong>{{ _('Data sets with the highest number of votes') }}</strong>
            {% if (top10vd_info['update_date']) %}<br/>{{ _('Updated date') }}: {{ top10vd_info['update_date'] }}{% endif %}
        </p>
        {% if top10vd_error_loading_data %}
        <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
        {% elif top10vd_info['data']|length <= 2 %}
        <p class="text-center alert alert-info">{{ _('No data') }}</p>
        {% else %}
        <div id="tableAdmDrupalTop10VotedDatasets" class="tablediv"
             data-module="dge_dashboard_adm_drupalTop10VotedDatasets"
             data-module-data_provider="{{ top10vd_info['data'] }}"
             data-module-language="{{ current_lang }}"
             data-module-column_titles="{{ top10vd_column_titles }}"
             data-module-divid="tableAdmDrupalTop10VotedDatasets"
             data-module-pager_divid="externalPager_top10vd"
             data-module-no_data="{{ _('The table contains no data') }}">
        </div>
        <div id="externalPager_top10vd" class="external-pager jsgrid-pager-container" style="text-align:center"></div>
        {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_drupal_contents_top10_voted_datasets_csv')%}
        <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i
                class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
        {% endif %}
    </div>
    
<p><br/><br/><br/></p>

  {% set data_date = None %}
  {% set publishers_data, publishers_graphs, error_loading_data = h.dge_dashboard_administrator_data_num_publishers_by_month_year() %}
  <div>
    <p>
      <strong>{{ _('Evolution of publisher organizations') }}</strong>
      {% set description = _('Evolution of publisher organizations description') %}
      {% if description %}<br/> {{ description }}{% endif %}
   </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif publishers_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmNumPublishersByMonthYear" class="chartdiv"
           data-module="dge_dashboard_adm_numPublishersByMonthYear"
           data-module-data_provider='{{ publishers_data }}'
           data-module-graphs="{{ publishers_graphs }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartAdmNumPublishersByMonthYear"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set data_date = None %}
  {% set publishers_al_data, publishers_al_graphs, data_date, error_loading_data = h.dge_dashboard_administrator_data_num_publishers_by_administration_level() %}
  <div>
    <p>
      <strong>{{ _('Publisher organizations by administration level') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Publisher organizations by administration level description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif publishers_al_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
    <div id="chartAdmNumPublishersByAdministrationLevel" class="specialchartdiv"
         data-module="dge_dashboard_administrator_numPublishersByAdministrationLevel"
         data-module-data_provider='{{ publishers_al_data }}'
         data-module-graphs="{{ publishers_al_graphs }}"
         data-module-language="{{ current_lang }}"
         data-module-title=" "
         data-module-divid = "chartAdmNumPublishersByAdministrationLevel"
         data-module-no_data = "{{ _('The chart contains no data') }}">
    </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>
  <div>
	<p>
	 <strong>{{ _('Publisher organizations by administration level and update mode') }}</strong>
	 {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
	 {% set description = _('Publisher organizations by administration level and update mode description') %}
	 {% if description %}<br/> {{ description }}{% endif %}
	</p>
	{% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_organizations_by_level')%}
	<p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
  </div>

<p><br/><br/><br/></p>

  <h2>{{ _('Registered users') }}</h2>

  {% set users_org, column_titles_ubo, total, data_date, error_loading_data = h.dge_dashboard_administrator_data_users() %}
  <div>
    <p>
     <strong>{{ _('Active user accounts by organization') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Active user accounts by organization description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif users_org|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="tableAdmNumUsersByOrg" class="tablediv"
           data-module="dge_dashboard_adm_numUsersByOrg"
           data-module-data_provider="{{ users_org }}"
           data-module-language="{{ current_lang }}"
           data-module-column_titles ="{{ column_titles_ubo }}"
           data-module-divid = "tableAdmNumUsersByOrg"
           data-module-pager_divid = "externalPager_ubo"
           data-module-no_data = "{{ _('The table contains no data') }}">
      </div>
      <div id="externalPager_ubo" class="external-pager jsgrid-pager-container" style="text-align:center"></div>
      {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='adm_users_by_org_csv')%}
    <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set users_al, total, data_date, error_loading_data = h.dge_dashboard_administrator_data_users_by_adm_level() %}
  <div>
    <p>
     <strong>{{ _('Active user accounts by administration level') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Active user accounts by administration level description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif users_al|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmNumUsersByAdministrationLevel" class="chartdiv"
           data-module="dge_dashboard_adm_numUsersByAdministrationLevel"
           data-module-data_provider="{{ users_al }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartAdmNumUsersByAdministrationLevel"
           data-module-data_text_1 = {% if users_al %} "{{ total }}" {% else %} " " {% endif %}
           data-module-data_text_2 = {% if users_al %} "{{ _('Users') }}" {% else %} " " {% endif %}
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  <h2>{{ _('Communication channels with users') }}</h2>

  {% set requests, total, data_date, error_loading_data = h.dge_dashboard_administrator_data_assigned_requests() %}
  <div>
    <p>
     <strong>{{ _('Data availability requests by state') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Data availability requests by state description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif requests|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmAssignedRequests" class="chartdiv"
           data-module="dge_dashboard_adm_assignedRequests"
           data-module-data_provider="{{ requests }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-data_text_1 ={% if requests %} "{{ total }}" {% else %} " " {% endif %}
           data-module-data_text_2 ={% if requests %} "{{ _('Data requests') }}" {% else %} " " {% endif %}
           data-module-grouped_title = "{{ _('Others') }}"
           data-module-group_percent = "1"
           data-module-divid = "chartAdmAssignedRequests"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set data_date = None %}
  {% set comments_data, comments_graphs, error_loading_data = h.dge_dashboard_administrator_data_num_comments_by_month_year() %}
  <div>
    <p>
     <strong>{{ _('Evolution of received comments') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Evolution of received comments description') %}
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif comments_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartAdmNumCommentsByMonthYear" class="chartdiv"
           data-module="dge_dashboard_adm_numCommentsByMonthYear"
           data-module-data_provider='{{ comments_data }}'
           data-module-graphs="{{ comments_graphs }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartAdmNumCommentsByMonthYear"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>
</div>

{% endblock %}
{% block secondary %}
{# Supress left column #}
{% endblock %}
{%- block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{% url_for_static "amcharts/plugins/export/export.css" %}" type="text/css" media="all" />
  {% resource 'dge_dashboard/jsgrid/dge-jsgrid.css' %}
  {% resource 'dge_dashboard/jsgrid/dge-jsgrid-theme.css' %}
  {% resource 'dge_dashboard/dge-dashboard.css' %}
{% endblock -%}


{%- block scripts %}
   {{ super() }}
   <!-- amCharts javascript sources -->
    <script src="{% url_for_static "amcharts/amcharts.js" %}"></script>
    <script src="{% url_for_static "amcharts/pie.js" %}"></script>
    <script src="{% url_for_static "amcharts/serial.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/animate/animate.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/export.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/dataloader/dataloader.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/themes/light.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/responsive/responsive.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/en.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/ca.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/ca.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/gl.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/gl.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/eu.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/eu.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/es.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/es.js" %}"></script>


    <script src="{% url_for_static "amstockchart/amcharts.js" %}"></script>
    <script src="{% url_for_static "amstockchart/serial.js" %}"></script>
    <script src="{% url_for_static "amstockchart/amstock.js" %}"></script>
    <script src="{% url_for_static "amstockchart/plugins/responsive/responsive.min.js" %}"></script>

    <script src="{% url_for_static "jsgrid/jquery-1.8.3.min.js" %}"></script>
    <script src="{% url_for_static "jsgrid/jsgrid.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-es.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-en.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-ca.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-gl.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-eu.js" %}"></script>


    {% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_numDatasetsByAdmLevel.js" %}
    {% resource "dge_dashboard/amstockchart/administrator/dge_dashboard_adm_numDatasetsByOrg.js" %}
    {% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_numPublishersByMonthYear.js" %}
    {% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_assignedRequests.js" %}
    {% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_numUsersByAdministrationLevel.js" %}
    {% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_numCommentsByMonthYear.js" %}
    {% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_numSectionVisitsByMonthYear.js" %}
    {% resource "dge_dashboard/jsgrid/administrator/dge_dashboard_adm_numDatasetsByNumRes.js" %}
    {% resource "dge_dashboard/jsgrid/administrator/dge_dashboard_adm_numDrupalContentsByContentType.js" %}
	{% resource "dge_dashboard/jsgrid/administrator/dge_dashboard_adm_numUsersByOrg.js" %}
	{% resource "dge_dashboard/amcharts/administrator/dge_dashboard_adm_numPublishersByAdministrationLevel.js" %}
    {% resource "dge_dashboard/jsgrid/administrator/dge_dashboard_adm_drupalContentsByLikes.js" %}
    {% resource "dge_dashboard/jsgrid/administrator/dge_dashboard_adm_drupalTop10VotedDatasets.js" %}
{% endblock -%}

