{% extends "page.html" %}
{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}",
            "name": "{{ _('My Account') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}",
            "name": "{{ _('Organization Dashboard') }}"
          }
      }
    ]
  }
  </script>
{% endblock %}

{% block subtitle %}{{ _('Organization Dashboard') }}{% endblock %}
{% block breadcrumb_content %}
 <li>{% link_for _('My Account'), controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard' %}</li>
 <li class="active">{{ h.nav_link(_('My Dashboard'), controller='ckanext.dge_dashboard.controllers:DGEDashboardController', action='my_dashboard') }}</li>
{% endblock %}
{% block page_title_content %}{{ _('Organization Dashboard') }}{% endblock %}
{% block catalog_downloads %}{% endblock %}
{% block page_header %}{% endblock %}
{% block primary_content_inner %}
{% set current_lang = request.environ.CKAN_LANG %}
<div class="dge-dashboard-intro">{% trans %}Dashboard_introduction{% endtrans %}</div>
<div class="dge-dashboard">
  <h2>{{ _('Data Catalog') }}</h2>
  {% set data_date = none %}
  {% set datasetsByMonth_data, error_loading_data = h.dge_dashboard_organization_data_num_datasets_by_month_year() %}
  <div>
    <p>
     <strong>{{ _('Evolution of my published datasets') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Evolution of my published datasets description') %} 
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif datasetsByMonth_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartOrgNumDatasetsByMonthYear" class="chartdiv" 
           data-module="dge_dashboard_org_numDatasetsByMonthYear"
           data-module-data_provider="{{ datasetsByMonth_data }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartOrgNumDatasetsByMonthYear"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set data_date = none %}
  {% set org_visted_datasets_data, filter_ovd, filter_ovd_2 , column_titles, error_loading_data = h.dge_dashboard_organization_data_most_visited_datasets() %}
  <div>
    <p>
     <strong>{{ _('My most visited datasets') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('My most visited datasets description') %} 
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif org_visted_datasets_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div style="text-align:center">
        <div class="form-select control-group">
          <div class="dge-field-order-by">
            <select id="filterOrgMostVisitedDatasets" title="{{ _('Month') }}">
              {% for t in filter_ovd_2:%}
              <option value="{{ t['id'] }}">{{ t['name'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div id="tableOrgMostVisitedDatasets"
           data-module="dge_dashboard_org_mostVisitedDatasets"
           data-module-data_provider="{{ org_visted_datasets_data }}"
           data-module-language="{{ current_lang }}"
           data-module-filter_values="{{ filter_ovd }}"
           data-module-filter_divid="filterOrgMostVisitedDatasets"
           data-module-column_titles ="{{ column_titles }}"
           data-module-divid = "tableOrgMostVisitedDatasets"
           data-module-no_data = "{{ _('The table contains no data') }}">
      </div>
      {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='org_datasets_csv')%}
      <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
    {% endif %}
  </div>


<p><br/><br/><br/></p>

  {% set data_date = none %}
  {% set formats_data, total, data_date, error_loading_data = h.dge_dashboard_organization_data_distribution_format() %}
  <div>
    <p>
     <strong>{{ _('My distributions format') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('My distributions format description') %} 
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif formats_data|length <= 2 %}
       <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartOrgDistributionFormat" class="chartdiv" 
           data-module="dge_dashboard_org_distributionFormat"
           data-module-data_provider="{{ formats_data }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-data_text_1 ={% if formats_data %} "{{ total }}" {% else %} " " {% endif %}
           data-module-data_text_2 ={% if formats_data %} "{{ _('Resources') }}" {% else %} " " {% endif %}
           data-module-grouped_title = "{{ _('Others') }}"
           data-module-group_percent = "1"
           data-module-divid = "chartOrgDistributionFormat"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  <h2>{{ _('Registered users') }}</h2>

  {% set users, column_titles_users, total, data_date, error_loading_data = h.dge_dashboard_organization_data_users() %}
  <div>
    <p>
     <strong>{{ _('My active user accounts') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('My active user accounts description') %} 
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif users|length <= 2 %}
       <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="tableOrgUsers" class="tablediv"
           data-module="dge_dashboard_org_users"
           data-module-data_provider="{{ users }}"
           data-module-language="{{ current_lang }}"
           data-module-column_titles ="{{ column_titles_users }}"
           data-module-divid = "tableOrgUsers"
           data-module-pager_divid = "externalPager_users"
           data-module-no_data = "{{ _('The table contains no data') }}">
      </div>
      <div id="externalPager_users" class="external-pager jsgrid-pager-container" style="text-align:center"></div>
      {% set download_link=h.url_for(controller='ckanext.dge_dashboard.controllers:DGEDashboardController',action='org_users_csv')%}
      <p><br/><a class="btn button btn-primary btn-sm pull-right" href="{{download_link}}"><i class="icon-download"></i>{{ _('Download as CSV') }}</a></p>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  <h2>{{ _('Communication channels with users') }}</h2>

  {% set requests, total, data_date, error_loading_data = h.dge_dashboard_organization_data_assigned_requests() %}
  <div>
    <p>
     <strong>{{ _('My data availability requests by state') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('My data availability requests by state description') %} 
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif requests|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No assigned requests') }}</p>
    {% else %}
      <div id="chartOrgAssignedRequests" class="chartdiv" 
           data-module="dge_dashboard_org_assignedRequests"
           data-module-data_provider="{{ requests }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-data_text_1 ={% if requests %} "{{ total }}" {% else %} " " {% endif %}
           data-module-data_text_2 ={% if requests %} "{{ _('Data requests') }}" {% else %} " " {% endif %}
           data-module-grouped_title = "{{ _('Others') }}"
           data-module-group_percent = "1"
           data-module-divid = "chartOrgAssignedRequests"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

<p><br/><br/><br/></p>

  {% set data_date = none %}
  {% set comments_data, comments_graphs, error_loading_data = h.dge_dashboard_organization_data_num_comments_by_month_year() %}
  <div>
    <p>
     <strong>{{ _('Evolution of my received comments') }}</strong>
      {% if (data_date) %}<br/>{{ _('Updated date') }}: {{ data_date }}{% endif %}
      {% set description = _('Evolution of my received comments description') %} 
      {% if description %}<br/> {{ description }}{% endif %}
    </p>
    {% if error_loading_data %}
      <p class="text-center alert alert-error">{{ _('Error loading data') }}</p>
    {% elif comments_data|length <= 2 %}
      <p class="text-center alert alert-info">{{ _('No data') }}</p>
    {% else %}
      <div id="chartOrgNumCommentsByMonthYear" class="chartdiv"
           data-module="dge_dashboard_org_numCommentsByMonthYear"
           data-module-data_provider='{{ comments_data }}'
           data-module-graphs="{{ comments_graphs }}"
           data-module-language="{{ current_lang }}"
           data-module-title=" "
           data-module-divid = "chartOrgNumCommentsByMonthYear"
           data-module-no_data = "{{ _('The chart contains no data') }}">
      </div>
    {% endif %}
  </div>

</div>


{% endblock %}
{% block secondary %}
{# Supress left column #}
{% endblock %}
{%- block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{% url_for_static "amcharts/plugins/export/export.css" %}" type="text/css" media="all" />
  {% resource 'dge_dashboard/jsgrid/dge-jsgrid.css' %}
  {% resource 'dge_dashboard/jsgrid/dge-jsgrid-theme.css' %}
  {% resource 'dge_dashboard/dge-dashboard.css' %}
{% endblock -%}


{%- block scripts %}
   {{ super() }}
   <!-- amCharts javascript sources -->
    <script src="{% url_for_static "amcharts/amcharts.js" %}"></script>
    <script src="{% url_for_static "amcharts/pie.js" %}"></script>
    <script src="{% url_for_static "amcharts/serial.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/animate/animate.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/export.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/dataloader/dataloader.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/themes/light.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/responsive/responsive.min.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/en.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/ca.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/ca.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/gl.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/gl.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/eu.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/eu.js" %}"></script>
    <script src="{% url_for_static "amcharts/lang/es.js" %}"></script>
    <script src="{% url_for_static "amcharts/plugins/export/lang/es.js" %}"></script>


    <script src="{% url_for_static "jsgrid/jquery-1.8.3.min.js" %}"></script>
    <script src="{% url_for_static "jsgrid/jsgrid.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-es.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-en.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-ca.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-gl.js" %}"></script>
    <script src="{% url_for_static "jsgrid/i18n/jsgrid-eu.js" %}"></script>

    {% resource "dge_dashboard/amcharts/organization/dge_dashboard_org_numDatasetsByMonthYear.js" %}
    {% resource "dge_dashboard/amcharts/organization/dge_dashboard_org_distributionFormat.js" %}
    {% resource "dge_dashboard/amcharts/organization/dge_dashboard_org_assignedRequests.js" %}
    {% resource "dge_dashboard/amcharts/organization/dge_dashboard_org_numCommentsByMonthYear.js" %}
    {% resource "dge_dashboard/jsgrid/organization/dge_dashboard_org_mostVisitedDatasets.js" %}
    {% resource "dge_dashboard/jsgrid/organization/dge_dashboard_org_users.js" %}

{% endblock -%}

