{% ckan_extends %}

{% block breadcrumb_content %}
  {% snippet 'package/snippets/dge_package_breadcrumb_content.html', pkg=pkg %}
{% endblock %}
{% block page_title_content %}
  {% if pkg %}
  {{ _('Edit') }} {{ pkg.title or pkg.name }}
  {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
       {% else %}
{{ _('Create Dataset') }} 
{% endif %}
{% endblock %}
{% block catalog_downloads %}{% endblock %}
{% block secondary_content %}{% endblock %}