{% ckan_extends %}
{% set dataset_title_language, dataset_title = h.dge_dataset_field_value(pkg.title_translated) %}
{% set dataset_language, dataset_description = h.dge_dataset_field_value(pkg.description) %}

{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Data Catalog') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Dataset') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 4,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='read', id=pkg.name)}}",
            "name": "{{ dataset_title|truncate(30) }}"
          }
      }
    ]
  }
  </script>

  {% set tag_name_list = h.dge_dataset_tag_list_display_names(pkg.tags) %}
  {% if pkg.organization.id != pkg.publisher %}
     {% set publisher_name = pkg.organization.title %}
  {% else %}
     {% set publisher = h.dge_get_dataset_publisher(pkg.publisher) %}
     {% set publisher_name = publisher.NAME %}
  {% endif %}
	
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Dataset",
    "url": "{{ g.site_url }}{{ h.url_for(controller='package', action='read', id=pkg.name)}}",
    "name": "{{ dataset_title }}",
    "description": "{{ dataset_description }}",
    "keywords": "{{ tag_name_list }}",
    "license": "{{ pkg.license_title }}",
    "creator": 
    {
      "@type": "Organization",
      "name": "{{ publisher_name }}"
    },
    "dateCreated": "{{ h.dge_render_datetime(pkg.get('issued_date'), date_format='%Y-%m-%dT%T%z') }}",
    "dateModified": "{{ h.dge_render_datetime(pkg.get('modified_date'), date_format='%Y-%m-%dT%T%z') }}",
    "includedInDataCatalog":
    {
      "@type": "DataCatalog",
      "name": "datos.gob.es",
      "url": "{{ g.site_url }}"
      }
    }
  }
  </script>

{% endblock %}

{% block head_extras -%}
<meta property="og:title" content="{{ dataset_title }} - {{ _('Dataset') }}">
<meta property="og:description" content="{{ dataset_description|forceescape|truncate(157) }}">
{% endblock -%}

{% block subtitle %}{{ dataset_title }} - {{ _('Dataset') }}{% endblock %}
{% block content_primary_nav %} {# Supress tabs #}{% endblock %}

{% block package_revision_info %}
      {% if c.revision_date %}
        <div class="module info alert alert-info">
          <p class="module-content">
            {% set timestamp = h.dge_render_datetime(c.revision_date, with_hours=True) %}
            {% set url = h.url(controller='package', action='read', id=pkg.name) %}
            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          </p>
        </div>
      {% endif %}
    {% endblock %}