{% ckan_extends %}
{% block seo %}
 {% set dataset_title_language, dataset_title = h.dge_dataset_field_value(pkg.title_translated) %}
 {% set res_title_language, res_title = h.dge_dataset_field_value(res.name_translated) %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Data Catalog') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Dataset') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 4,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='read', id=pkg.name)}}",
            "name": "{{ dataset_title|truncate(30) }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 5,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id ) }}",
            "name": "{{ h.dge_resource_display_name_or_desc(res_title, None)|truncate(30) }}"
          }
      }
      
    ]
  }
  </script>
{% endblock %}
{% block breadcrumb_content %}
  {% snippet 'package/snippets/dge_package_breadcrumb_content.html', pkg=pkg, res=res %}
{% endblock %}