{% ckan_extends %}
{% block seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
          {
            "@id": "{{ g.site_url }}",
            "name": "{{ _('Home') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Data Catalog') }}"
          }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item":
          {
            "@id": "{{ g.site_url }}{{ h.url_for(controller='package', action='search') }}",
            "name": "{{ _('Dataset') }}"
          }
      }
    ]
  }
  </script>
{% endblock %}
{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Data Catalog'), controller='package', action='search', highlight_actions = 'new index') }}</li>
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}
{% block page_title_content %}{{ _('Data Catalog') }}{% endblock %}
{% block catalog_downloads %}
  {% snippet 'snippets/dge_catalog_downloads.html' %}
{% endblock %}
       {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Modified Descending'), 'metadata_modified desc'),
          (_('Modified Ascending'), 'metadata_modified asc'),
          (_('Published Descending'), 'metadata_created desc'),
          (_('Published Ascending'), 'metadata_created asc'),
          (_('Name'), 'title_string asc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false),
          (_('Relevance'), 'score desc, metadata_modified desc')
          ]
        %}
        {% snippet 'snippets/dge_search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
      {% endblock %}

      {% block package_search_results_list %}
        {{ h.snippet('snippets/dge_package_list.html', packages=c.page.items) }}
      {% endblock %}
 
{% block package_search_results_api %}{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/dge_facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

